/*
 * Special Elite font by Astigmatic
 * https://www.fontsquirrel.com/fonts/special-elite
 */
@font-face {
	font-family: Special Elite;
	src: url('/includes/assets/fonts/special-elite/specialelite.woff') format('woff'),
	src: url('/includes/assets/fonts/special-elite/specialelite.woff2') format('woff2');
}

/*
 * Twitter Emoji for Everyone
 * Brad Erikson
 * https://github.com/eosrei/twemoji-color-font
 * CC-BY-SA Twitter, Inc. and other contributors
 * Original ttf files converted to woff using https://www.fontsquirrel.com/tools/webfont-generator
 */
@font-face {
	font-family: Twemoji;
	src: url('/includes/assets/fonts/twitter-color-emoji/twittercoloremoji.woff') format('woff'),
	src: url('/includes/assets/fonts/twitter-color-emoji/twittercoloremoji.woff2') format('woff2');
}

html {
  line-height: 1.5;
  font-family: Special Elite, Twemoji;
}
