/*
 * Set custom properties
 * --base unit is created dynamically in src/layouts/base.11ty.js
 * https://developer.mozilla.org/en-US/docs/Web/CSS/--*
 */
:root {
  --base-unit-quarter: calc(var(--base-unit) / 4);
  --base-unit-2x: calc(var(--base-unit) * 2);
  --base-unit-4x: calc(var(--base-unit) * 4);
  --base-unit-8x: calc(var(--base-unit) * 8);
  --base-unit-16x: calc(var(--base-unit) * 16);
  --base-unit-32x: calc(var(--base-unit) * 32);
  --shadow: var(--base-unit-quarter) var(--base-unit-quarter) var(--base-unit-quarter) rgba(0,0,0,0.5);
}

/*
 * Element styles
 */

/*
 * Use universal box-sizing
 * https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing
 */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/*
 * Make the body element fill the viewport
 * --background-color is created dynamically in src/layouts/base.11ty.js
 */
body {
  background-color: var(--background-color);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin: 0;
}

/*
 * Prevent scolling on the body element for slideshow presentations
 */
body.presentation {
  overflow: hidden;
}

/*
 * Make link color match the normal font color
 */
a {
  color: inherit;
}

/*
 * Make article elements fill their parent element (e.g., main)
 */
article {
  height: 100%;
}


.background {
  background-color: rgba(255,255,255,0.97);
}

/*
 * Make images fill the slide
 */
img {
  height: auto;
  max-height: calc(100vmin - var(--base-unit-16x));
  max-width: calc(100vmin - var(--base-unit-16x));
  width: 100vmin;
}

fieldset,
input,
button {
	border-color: transparent;
  font-family: inherit;
  font-size: inherit;
}

fieldset {
	background-color: #fff;
	box-shadow: var(--shadow);
  grid-gap: 1em;
  justify-content: space-around;
}

input,
button {
  color: inherit;
  padding: var(--base-unit);
}

input {
  border-bottom: 1px solid #000;
}


button {
  cursor: pointer;
  border-radius: var(--base-unit-4x);
}

button[type="submit"] {
  background-color: plum;
}

button[type="submit"]:focus,
button[type="submit"]:hover {
  background-color: peachpuff;
}

/*
 * Layout
 */
.grid {
  display: grid;
}

/*
 * Margins do not overlap in grid as in the normal flow.
 * So remove the top margin.
 */
.grid p {
  margin-top: 0;
}

.align-content-start {
  align-content: start;
}

.justify-content-center {
  justify-content: center;
}

.border-radius {
  border-radius: var(--base-unit-4x);
}

.margin {
  margin: var(--base-unit-4x);
}

.padding {
  padding: var(--base-unit-4x);
}

.box-shadow {
  box-shadow: var(--shadow);
}

/*
 * Typography
 */
.circular {
  border-radius: 50%;
}

.gray {
  color: #bcbcbc;
}

.small {
  font-size: small;
}

.text-center {
  text-align: center;
}

.text-block p {
  margin-bottom: 0;
}

.no-list-style {
  list-style: none;
}

.hanging-indent {
  padding-left: 4ch;
  text-indent: -4ch;
}

/*
 * Make the slideshow fill the page
 */
#slideshow {
  height: calc(100% - var(--base-unit-8x));
}

/*
 * Make shorter content at least fill the viewport
 */
#content {
  min-height: calc(100% - var(--base-unit-8x));
}

/*
 * Place footer in the bottom right corner of page
 */
#main_footer {
  position: absolute;
  bottom: calc(0% + var(--base-unit-2x));
  right: var(--base-unit-4x);
  z-index: 3;
}

/*
 * Allow for displaying one slide at a time
 */
#slides {
  position: relative;
}

/*
 * Hide all slides by default
 */
.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
}

/*
 * Applied to the current slide with JavaScript
 */
.show {
  opacity: 1;
  z-index: 2;
}

/*
 * Slide types
 */
[data-slide-type="centered-title"],
[data-slide-type="centered-text"] {
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
}

[data-slide-type="centered-title"] header {
  align-self: end;
}

[data-slide-type="centered-title"] .content {
  align-self: start;
  justify-self: center;
  text-align: center;
}

[data-slide-type="title"] {
  display: grid;
  grid-template-rows: 1fr 5fr;
}

/* Distribute rows evenly (keeps slide content centered) */
[data-slide-type="centered-text"] {
	grid-template-rows: 1fr;
}

/* Place edit link in bottom left corner of the slideshow */
.edit-link a {
	position: fixed;
	top: calc(100% - var(--base-unit-8x));
	left: var(--base-unit-8x);
	font-size: x-small;
}

/* Prevent font resizing from text-block.js */
.text-block .edit-link a {
  font-size: unset !important; /* Override rules in text-block.js */
}

/*
 * Button styles
 */
#start {
  background-color: transparent;
  border-color: transparent;
  color: inherit;
  font-family: inherit;
  margin-bottom: var(--base-unit-8x);
  width: 100%;
  height: 100%;
}

#start * {
  background-color: #fff;
}

#start:active .box-shadow {
  box-shadow: none;
}

/*
 * Place the settings button in the bottom right corner of the viewport
 */
#controls {
  background-color: transparent;
  height: var(--base-unit-8x);
  width: var(--base-unit-8x);
  position: fixed;
  bottom: var(--base-unit);
  right: var(--base-unit);
  z-index: 4;
}

#controls img {
  height: inherit;
  width: inherit;
}

/*
 * Make the controls form fill the page
 */
#goToSlideNumber {
	background-color: rgba(0,0,0,0.5);
	display: flex;
	height: 100vh;
	width: 100vw;
	position: absolute;
  opacity: 0;
  z-index: -1;
	justify-content: center;
	align-items: center;
}

#goToSlideNumber.show {
  opacity: 1;
  z-index: 4;
}

/*
 * Adjust the font-size according to the size of the viewport
 */
@media screen and (min-width: 480px) {
  html {
    font-size: 4vmin;
    font-size: var(--base-unit-4x, 4vmin);
  }
}
